/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
}

body {
    /* width: 100%;
    min-height: 100%;
    display: block; */
    /* box-sizing: border-box;
    overflow: hidden; */
}

/* .scroll-height {
    overflow-y: auto;
    max-height: calc(140vh - 75px);
}

.scroll-height::-webkit-scrollbar {
    display: none;
} */
